@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:   #212121; 
}
::selection{
  color: #FFF;
  background: #5372F0;
}

.wrapper{
  width: 500px;
  height: 500px;
  padding: 40px 30px 50px 30px;
  background: #141414;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
  border-radius: 10px;
}
.wrapeer.logo{
  margin-bottom: 100px;
  align-items: right;
  height: 100px;
  width: 50px;
  
}
.wrapper form{
  margin: 40px 0;
  margin-top: 20px;
}
form .field{
  width: 100%;
  margin-bottom: 20px;

}
form .field.shake{
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    margin-left: 0px;
  }
  20%, 80%{
    margin-left: -12px;
  }
  40%, 60%{
    margin-left: 12px;
  }
}
form .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  border-color: #000;

}
form input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;

 border-radius: 10px; 
  border-bottom-width: 2px;
   
}
form .field input:focus,
form .field.valid input{
 
  text-decoration-color:  #00a800;
  
}
form .field.shake input,
form .field.error input{
  border-color: #dc3545;
}
.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
form input::placeholder{
  color:  #3d3d3d;
  font-size: 17px;
}
form .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error{
  display: none;
}
form .field.shake .error,
form .field.error .error{
  display: block;
}
form .pass-txt{
  text-align: left;
  margin-top: 30px;
  text-align: center;
}
.wrapper a{
  color: #3b3b3b;
  text-decoration: none;
}
.wrapper a{
  text-decoration: underline;
}
form input[type="submit"]{
  height: 40px;
  margin-top: 5px;
  color: #fff;
  padding: 0;
  border: none;
  background:   #00a800;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
form input[type="submit"]:hover{
  background: #000;
}